    /* -+-+-+ +-+-+-+-+-+-+-+-+
    |J|u|l|i|e|n| |E|t|i|e|n|n|e|
    +-+-+-+-+-+-+ +-+-+-+-+-+-+-+
    Copyright 2015 Julien Etienne

    /*__Base Normalisation____________________________________________________*/
    /*                     Custom normalizations                              */
    
    html {
        font-family: 'Open Sans', sans-serif;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
        cursor: default;
        background-color: #e6ebff;
    }
    
    body {
        font-weight: normal;
        letter-spacing: 0.2em;
        color: #222;
        background-color: #e6ebff;
        position: absolute;
        width: 100%;
        margin: 0;
    }
    
    article,
    figcaption,
    figure,
    footer,
    header,
    nav,
    section {
        display: block;
    }
    
    audio,
    canvas,
    video {
        display: inline-block;
    }
    
    audio:not([controls]) {
        display: none;
        height: 0;
    }
    
    #ch,
    h1,
    h2,
    p {
        padding: 0.5em 1.4em;
        font-weight: normal;
        color: #222;
    }
    
    a {
        cursor: default;
        background-color: transparent;
        padding: 0em 0.2em 0.1em 0.4em;
    }
    
    a:link {
        outline: 1px solid rgba(255, 255, 255, 0.01);
        text-decoration: none;
        color: inherit;
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        transition: all 0.3s linear;
    }
    
    a:visited {
        color: inherit;
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        transition: all 0.3s linear;
    }
    
    a:active {
        outline: red solid 1px;
        color: red;
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        transition: all 0.3s linear;
    }
    
    a:hover {
        outline: green solid 1px;
        color: blue;
        -webkit-transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
        -o-transition: all 0.5s linear;
        transition: all 0.5s linear;
    }
    
    b,
    strong {
        font-weight: bold;
    }
    
    h1 {
        font-size: 2em;
        margin: 0.67em 0;
    }
    
    #ch {
        font-style: normal;
        display: block;
        font-size: 1.5em;
        -webkit-margin-before: 0.83em;
        -webkit-margin-after: 0.83em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
    }
    
    small {
        font-size: 80%;
    }
    
    img {
        border: 0;
        opacity: 1;
    }
    
    svg:not(:root) {
        overflow: hidden;
    }
    
    figure {
        margin: 1em 40px;
    }
    
    hr {
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        height: 0;
    }
    
    pre {
        overflow: auto;
    }
    
    code,
    kbd,
    pre,
    samp {
        font-family: monospace, monospace;
        font-size: 1em;
    }
    /*__List Sections_________________________________________________________*/
    /*                 Applies to both text and images                          */
    
    article,
    address {
        width: 100%;
        position: relative;
        float: left;
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        transition: all 0.3s linear;
        overflow: hidden;
    }
    
    article ul,
    address ul,
    article h2,
    address h2 {
        position: relative;
        z-index: 2;
    }
    
    article:hover {
        background: #E1E192;
        text-shadow: 1.5em -0.45em 3px rgba(255, 200, 200, 0.7), 1em -0.3em 3px rgba(200, 255, 200, 0.7), 0.5em -0.15em 3px rgba(200, 200, 255, 0.7);
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        transition: all 0.3s linear;
    }
    
    article:hover a {
        color: blue;
    }
    
    article:hover a:hover {
        color: #AB031A;
        text-shadow: none;
    }
    /*__Custom List Sections__________________________________________________*/
    /*                         Apply to both text and images                  */
    
    .visual-portfolio ul li {
        width: 50%;
    }
    
    .visual-portfolio ul li img {
        width: 100%;
    }
    
    #experiments ul li img {
        width: initial;
    }
    
    nav ul li:before {
        content: '#';
        position: relative;
        float: left;
        margin-right: 0.2em;
    }
    
    .cross {
        position: absolute;
        top: 0;
        z-index: 0;
    }
    
    .codepen {
        opacity: 0.1;
    }
    /*__Global List Sections__________________________________________________*/
    /*                                                                        */
    
    ul {
        border: 1px solid #CFCFFF;
        border-color: rgba(0, 0, 255, 0.05);
        border-top: none;
        list-style-type: none;
    }
    
    ul li {
        color: #222;
        padding-bottom: 0.3em;
        border-left: 1px solid #ACACFC;
        border-left-color: rgba(0, 0, 255, 0.1);
        padding-left: 1em;
    }
    
    ul li:nth-child(1) {
        border-radius: 1em;
    }
    
    ul li:last-child {
        padding-bottom: 1em;
    }
    
    hr {
        left: 0;
        padding: 0;
        border: 4px double #EDEDFF;
        border-radius: 5px;
    }
    
    #ch:before,
    h2:before {
        content: '# ';
    }
    /*__Footer notice_________________________________________________________*/
    /*                 Contains the copyright notice                          */
    
    footer small {
        position: relative;
        float: right;
        text-align: right;
        margin: 0 8em 2em 0;
    }
    /*__Print satirical image_________________________________________________*/
    /*                        8kb image of woman using a printer in 1977      */
    
    #oldschool {
        display: none;
    }
    
#location{
    display: inline-block;
       -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}
#location img{
    display: inline-block;
    height: 0.7em;
    width: 0.7em;
    padding: 0;
    margin: 0;
}
#location a{
    padding: 0;
    margin: 0;
}
#location cite{
    color: transparent;
}
