    * {
        cursor: default;
    }
    
    html {
        background: #222;
    }
    
    html,
    body {
        margin: 0;
        padding: 0;
    }
    
    body {
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
        letter-spacing: 0.2em;
        color: #222;
        background: rgb(230, 235, 255);
        position: absolute;
        width: 100%;
        display: block;
    }
    
    a:link {
        text-decoration: none;
        color: #222;
        cursor: pointer;
    }
    
    a:visited {
        color: #222;
    }
    
    a:active {
        color: red;
    }
    
    a:hover {
        color: blue;
    }
    
    .cross {
        position: absolute;
        top: 0;
        z-index: 0;
    }
    
    .codepen {
        opacity: 0.1;
    }
    
    ul {
        border: 1px solid rgba(0, 0, 255, 0.05);
        border-top: none;
        list-style-type: none;
    }
    
    ul li {
        padding-bottom: 0.3em;
    }
    
    ul li:nth-child(1) {
        border-radius: 1em;
    }
    
    ul li:last-child {
        padding-bottom: 1em;
    }
    
    #contents ul li:before {
        content: '# ';
    }
    
    #experiments ul li,
    #logos-and-branding ul li,
    #websites ul li,
    #prototypes ul li {
        width: 50%;
    }
    
    #logos-and-branding ul li img,
    #websites ul li img,
    #prototypes ul li img {
        width: 100%;
    }
    
    hr {
        left: 0;
        padding: 0;
        border: 4px double #EDEDFF;
        border-radius: 5px;
    }
    
    .section {
        width: 100%;
        position: relative;
        float: left;
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        transition: all 0.3s linear;
        overflow: hidden;
    }
    
    .section:hover {
        background: #E1E192;
        text-shadow: 1.5em -0.45em 3px rgba(255, 200, 200, 0.7), 1em -0.3em 3px rgba(200, 255, 200, 0.7), 0.5em -0.15em 3px rgba(200, 200, 255, 0.7);
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        transition: all 0.3s linear;
    }
    
    h1,
    h2:before {
        content: '# ';
    }
    
    h1,
    h2,
    p {
        padding: 0.5em 1.4em;
    }
    
    small {
        position: relative;
        float: right;
        text-align: right;
        margin: 0 180px 2em 0;
    }
    
    .section h2 {
        position: relative;
        z-index: 2;
    }
    
    .section ul {
        position: relative;
        z-index: 2;
    }
    
    ul li {
        border-left: 1px solid rgba(0, 0, 255, 0.1);
        padding-left: 1em;
    }
