    /* -+-+-+ +-+-+-+-+-+-+-+-+
    |J|u|l|i|e|n| |E|t|i|e|n|n|e|
    +-+-+-+-+-+-+ +-+-+-+-+-+-+-+
    Copyright 2015 Julien Etienne

    /*__VERY SILLY EDITABLE HEADER THING______________________________________*/
    /*                                                                        */

#editable:focus {
    border: none;
    outline: none;
}

header[contenteditable] {
    outline: none;
}
